<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Sexto Dia - O Alimento"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <div fxLayout="column" fxLayoutGap="20px">
        <iframe class="video" height="350" src="https://www.youtube.com/embed/Ai5zWfpFEDc" allowfullscreen></iframe>

        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        <mat-icon>menu_book</mat-icon>
                        <span>6° Dia</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        O Alimento
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="verse-container">
                    <p>
                        "Durante a refeição, Jesus tomou em Suas Mãos o Pão, abençoou-O, partiu-O e O deu aos Seus
                        discípulos, dizendo: 'Tomai e comei, isto é o Meu Corpo'. Tomou depois o cálice, rendeu graças e
                        O deu, dizendo: 'Bebei d'Ele todos, porque isto é o Meu Sangue, o Sangue da Nova Aliança,
                        derramado por todos, em remissão dos pecados…" (Mt 26, 26-28).
                    </p>
                    <p>
                        Jesus, meu coração transborda de gratidão porque, mesmo sabendo que eu jamais teria merecimento
                        para receber tal graça, Tu Te fazes alimento no altar, oferecendo-Te a mim pelas mãos dos
                        sacerdotes e ministros, extensão de Tuas Mãos generosas. Dá-me a graça de sempre buscar-Te com
                        ardor, para que eu não desfaleça no meio da jornada rumo ao Teu encontro. Amém.
                    </p>
                    <p>
                        Repita muitas vezes, neste 6º dia, a seguinte jaculatória:
                    </p>
                    <p>
                        JESUS, PELO PODER DO TEU SANGUE REDENTOR, SUPLICO QUE JAMAIS ME FALTE O PÃO DA VIDA
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <oracao-final></oracao-final>
</div>