<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Primeiro Dia - A Fé"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <div fxLayout="column" fxLayoutGap="20px">
        <iframe class="video" height="350" src="https://www.youtube.com/embed/9ir7dlidUuE" allowfullscreen></iframe>

        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        <mat-icon>menu_book</mat-icon>
                        <span>1° Dia</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        A Fé
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="verse-container">
                    <p>
                        "Tranquilizai-vos, não tenhais medo, sou Eu!… E disse a Pedro: 'Vem'. Pedro saiu da barca e
                        caminhava sobre as águas ao encontro de Jesus. Mas, redobrando a violência do vento, teve medo
                        e, começou a afundar. Gritou: 'Senhor, salva-me'. No mesmo instante, Jesus estendeu-lhe a Mão,
                        segurou-o e disse: 'Homem de pouca Fé, por que duvidaste?' …O vento cessou. Então, os que
                        estavam na barca prostraram-se diante d'Ele e disseram: 'Tu és verdadeiramente o Filho de
                        Deus.'" (Mt 14, 27b. 29-32).
                    </p>
                    <p>
                        Jesus, fortes ondas de desespero têm investido contra mim. Aumenta a minha fé, porque estou com
                        medo de afundar neste mar de angústia e dor. Como fizeste a Pedro, suplico que me estendas Tua
                        Mão poderosa e, com Autoridade de Filho de Deus, ordenes ao mal que se afaste de mim agora e
                        para sempre. Amém.
                    </p>
                    <p>
                        Repita muitas vezes, neste 1º dia, a seguinte jaculatória:
                    </p>
                    <p>
                        JESUS, PELO PODER DO TEU SANGUE REDENTOR, SUPLICO QUE AUMENTES A MINHA FÉ
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <oracao-final></oracao-final>
</div>