<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Oração pela prosperidade"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <mat-card class="verse-container">
        <div class="header">
            <h2>Em nome do Pai, Filho e Espirito Santo</h2>
        </div>

        <div class="content">
            <p>
                Oh! Criador do mundo,
                <b><span>Tu que disseste:</span> peças e receberás</b>, embora esteja nas
                alturas, em Vossa Divina Glória, inclinai seus ouvidos a esta humilde criatura
                para satisfazer-me o desejo. Ouve minha prece Oh Pai Amado, e fazei que por
                vossa vontade eu obtenha a graça que tanto desejo (pedido). Deus, supre
                agora todas as minhas necessidades, segundo as Suas riquezas em glória, e
                serei sempre grato por suas riquezas sempre ativa, presentes, imutáveis e
                abundantes em minha vida e que isso seja feito pelo poder e nome do Vosso
                Adorado Filho Jesus." Que a prosperidade e abundância senhor chegue até a
                vida de <br> <b>(falar o nome da pessoa)</b>. Amem!
            </p>
        </div>
    </mat-card>

    <mat-accordion>
        <panel-salmo-91></panel-salmo-91>
        <panel-salmo-23></panel-salmo-23>
        <panel-salmo-07></panel-salmo-07>
        <panel-salmo-67></panel-salmo-67>
    </mat-accordion>

    <div class="verse-footer">
        <p>Livrai-nos senhor de todo mal, amem!</p>
    </div>
</div>