<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Oração pela saúde"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <mat-card class="verse-container">
        <div class="header">
            <h2>Em nome do Pai, Filho e Espirito Santo</h2>
        </div>

        <div class="content">
            <p>
                Ô pai eterno, DEUS de bondade e misericórdia, vinde nos atender em nossas
                necessidades, vinde nos socorrer em nossas enfermidades, vinde nos consolar
                neste momento de angustia e sofrimento. Aliviai-nos de todo o sofrimento e nos
                atendei quando bater à nossa porta a doença ou a infelicidade. Por intercessão
                de nossa senhora derramai sobre nós o vosso infinito e poderoso amor,
                misericórdia e proteção, peço também que o manto de nossa senhora cubra o
                enfermo <br> <b>(falar o nome da pessoa)</b>. Amém!
            </p>
        </div>
    </mat-card>

    <mat-accordion>
        <panel-salmo-91></panel-salmo-91>
        <panel-salmo-23></panel-salmo-23>
        <panel-salmo-07></panel-salmo-07>
        <panel-salmo-61></panel-salmo-61>
    </mat-accordion>

    <div class="verse-footer">
        <p>Livrai-nos senhor de todo mal, amem!</p>
    </div>
</div>