<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Segundo Dia - A Humildade"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <div fxLayout="column" fxLayoutGap="20px">
        <iframe class="video" height="350" src="https://www.youtube.com/embed/lUVK5NFg2yQ" allowfullscreen></iframe>

        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        <mat-icon>menu_book</mat-icon>
                        <span>2° Dia</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        A Humildade
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="verse-container">
                    <p>
                        "Sabendo Jesus que o Pai tudo Lhe dera nas Mãos, e que saíra de Deus e para Deus voltava,
                        levantou-Se da mesa, depôs as Suas vestes, e, pegando uma toalha, cingiu-Se com ela. Em seguida,
                        deitou água numa bacia e começou a lavar os pés de Seus discípulos e a enxugá-los…'Sabeis o que
                        vos fiz?' …Se Eu, vosso Senhor e Mestre, vos lavei os pés, também vós deveis lavar os pés uns
                        dos outros. Dei-Vos o exemplo para que, como Eu vos fi z, assim façais também vós." (Jo 13,
                        3-5.12c.14-15).
                    </p>
                    <p>
                        Jesus, Tu sabes que pouco me disponho a servir, mas muito desejo que me sirvam. Não quero mais
                        ser assim! Com Tuas Mãos humildes, arranca todo o orgulho que ainda me impede de "lavar os pés
                        dos outros", especialmente daqueles mais próximos de mim. Amém.
                    </p>
                    <p>
                        Repita muitas vezes, neste 2º dia, a seguinte jaculatória:
                    </p>
                    <p>
                        JESUS, PELO PODER DO TEU SANGUE REDENTOR,SUPLICO A HUMILDADE E O DOM DE SERVIR
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <oracao-final></oracao-final>
</div>