<mat-card class="mt-4">
    <mat-card-content>
        <div class="header">
            <h2>
                Oração Final para Todos os Dias da <span>Novena</span>
            </h2>
            <h5>suplicando o poder das MÃOS <span>ensanguentadas</span> DE JESUS</h5>
        </div>

        <div class="content">
            <h3>Cura-me, Senhor Jesus!</h3>

            <p>
                "Jesus, coloca Tuas Mãos benditas, ensanguentadas, chagadas e abertas sobre mim, neste momento. Sinto-me
                completamente sem forças para prosseguir carregando as minhas cruzes. Preciso que a força e o poder de
                Tuas
                Mãos, que suportaram a mais profunda dor ao serem pregadas na Cruz, reergam-me e curem-me agora. Jesus,
                não
                peço
                somente por mim, mas também por todos aqueles que mais amo. Nós precisamos desesperadamente de cura
                física e
                espiritual, através do toque consolador de Tuas Mãos ensanguentadas e infinitamente poderosas. Eu
                reconheço,
                apesar de toda a minha limitação e da infinidade dos meus pecados, que és Deus, Onipotente e
                Misericordioso,
                para agir e realizar o impossível. Com fé e total confiança, posso dizer: <br>
                <strong>
                    Mãos ensanguentadas de Jesus, Mãos feridas lá na Cruz! Vêm tocar em mim. Vem, Senhor
                    Jesus!
                </strong>"
            </p>
            <p class="!text-info font-cursive text-base !font-semibold mt-4">
                Concluir cada dia, rezando um <span>Pai Nosso</span> e um <span>Glória</span>, em agradecimento às
                graças, bênçãos e
                milagres que
                serão concedidos pelas Mãos ensanguentadas de Jesus através desta Novena.
            </p>
        </div>
    </mat-card-content>
</mat-card>