<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Oração pelos inimigos"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <mat-card class="verse-container">
        <div class="header">
            <h2>Em nome do Pai, Filho e Espirito Santo</h2>
        </div>

        <div class="content">
            <h3><span>Disse Jesus:</span> Amai os vossos inimigos</h3>
            <p>
                Meu DEUS, perdoo a <b>(diz o nome da pessoa)</b>, o mal que me fez e o que me
                quis fazer, como desejo me perdoes e também ele (a) me perdoe as faltas que
                eu haja cometido. Se o colocastes como prova para mim, faça-se a tua vontade
                senhor.
            </p>
        </div>
    </mat-card>

    <mat-accordion>
        <panel-salmo-91></panel-salmo-91>
        <panel-salmo-23></panel-salmo-23>
        <panel-salmo-07></panel-salmo-07>
        <panel-salmo-59></panel-salmo-59>
    </mat-accordion>

    <div class="verse-footer">
        <p>Livrai-nos senhor de todo mal, amem!</p>
    </div>
</div>