<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Quarto Dia - A Pureza"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <div fxLayout="column" fxLayoutGap="20px">
        <iframe class="video" height="350" src="https://www.youtube.com/embed/iI_KSTmyeAs" allowfullscreen></iframe>

        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        <mat-icon>menu_book</mat-icon>
                        <span>4° Dia</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        A Pureza
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="verse-container">
                    <p>
                        "Apresentaram-lhe, então, crianças para que as tocasse; mas os discípulos repreendiam os que as
                        apresentavam. Vendo-os, Jesus indignou-Se e disse-Lhes: 'Deixai vir a Mim os pequeninos e não os
                        impeçais; porque o Reino de Deus é daqueles que se assemelham a eles. Em verdade vos digo, todo
                        o que não receber o Reino de Deus com a mentalidade de uma criança, nele não entrará'. Em
                        seguida, Ele abraçou e abençoou as crianças, impondo-lhes Suas Mãos." (Mc 10, 13-16).
                    </p>
                    <p>
                        Jesus, volta o Teu olhar para a minha infância, quando só havia pureza em mim. Dá-me de novo
                        aquele coração puro. Contigo, sei que isso é possível! Com Tuas Mãos puríssimas, purifica o meu
                        interior e devolve-me a alegria de fazer deste pobre coração a Tua morada. Amém.
                    </p>
                    <p>
                        Repita muitas vezes, neste 4º dia, a seguinte jaculatória:
                    </p>
                    <p>
                        JESUS, PELO PODER DO TEU SANGUE REDENTOR,SUPLICO QUE PURIFIQUES O MEU CORAÇÃO
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <oracao-final></oracao-final>
</div>