.mat-accordion .mat-expansion-panel:last-of-type,
.mat-accordion .mat-expansion-panel:first-of-type {
    border-radius: 0 !important;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
    flex-basis: 0;
}

.mat-expansion-panel-header-description {
    @apply hidden sm:flex justify-start font-semibold font-text text-base;
}

.mat-expansion-panel-body {
    padding: 18px 24px 16px;
}

mat-panel-title {
    @apply inline-flex items-center font-text gap-x-3 text-base text-accent font-semibold;
    mat-icon {
        @apply text-xl leading-6;
    }
}
