<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Oitavo Dia - A Mãe"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <div fxLayout="column" fxLayoutGap="20px">
        <iframe class="video" height="350" src="https://www.youtube.com/embed/AcO-uLNP2Fk" allowfullscreen></iframe>

        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        <mat-icon>menu_book</mat-icon>
                        <span>8° Dia</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        A Mãe
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="verse-container">
                    <p>
                        "Junto à Cruz de Jesus estava de pé Sua Mãe… Quando Jesus a viu e junto dela o discípulo que
                        amava, disse à Sua Mãe: 'Mulher, eis aí o teu filho'. Depois disse ao discípulo: 'Eis aí a tua
                        Mãe'. E desta hora em diante o discípulo a levou para a sua casa." (Jo 19, 25a.26-27)
                    </p>
                    <p>
                        Jesus, Tua Mãe, que foi a primeira a ver, segurar e beijar Tuas Mãozinhas em Belém, foi, também,
                        a primeira a ver, segurar e beijar Tuas Mãos adoradas, atravessadas e ensanguentadas, quando Te
                        depositaram, sem vida, em seu colo. Aceitar Maria e chamá-la de minha Mãe é desejar que ela
                        esteja comigo, conduzindo-me pela mão, agora e na hora da minha morte, como sempre esteve
                        Contigo. Amém.
                    </p>
                    <p>
                        Repita muitas vezes, neste 8º dia, a seguinte jaculatória:
                    </p>
                    <p>
                        JESUS, PELO PODER DO TEU SANGUE REDENTOR, SUPLICO A PRESENÇA MATERNAL DE MARIA JUNTO A MIM
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <oracao-final></oracao-final>
</div>