<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Quinto Dia - A Cura (Física, Psíquica e Esperitual)"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <div fxLayout="column" fxLayoutGap="20px">
        <iframe class="video" height="350" src="https://www.youtube.com/embed/uZBNpMeLdd4" allowfullscreen></iframe>

        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        <mat-icon>menu_book</mat-icon>
                        <span>5° Dia</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        A Cura (Física, Psíquica e Esperitual)
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="verse-container">
                    <p>
                        "Ao sair de Jericó, uma grande multidão O seguiu. Dois cegos, sentados à beira do caminho,
                        ouvindo dizer que Jesus passava, começaram a gritar: 'Senhor, Filho de Davi, tem piedade de
                        nós!'. A multidão, porém, os repreendia, para que se calassem. Mas, eles gritavam ainda mais
                        forte: 'Senhor, Filho de Davi, tem piedade de nós!'. Jesus parou, chamou-os e perguntou-lhes:
                        'Que queres que Eu vos faça?'. 'Senhor, que nossos olhos se abram!'. Jesus, cheio de compaixão,
                        tocou-Lhes os olhos com as Mãos. Instantaneamente recobraram a vista e puseram-se a segui-Lo."
                        (Mt 20, 29-34).
                    </p>
                    <p>
                        Coloco-me hoje também em Teu Caminho para suplicar: "Jesus, Filho de Davi, tem piedade de mim!".
                        Senhor, volve para mim o Teu olhar e vê como o meu corpo, a minha mente e a minha alma
                        necessitam urgentemente de cura. Impõe sobre mim Tuas Mãos Milagrosas e realiza esta cura
                        profunda e total que tanto espero para poder servir-Te muito mais e melhor. Amém.
                    </p>
                    <p>
                        Repita muitas vezes, neste 5º dia, a seguinte jaculatória:
                    </p>
                    <p>
                        JESUS, PELO PODER DO TEU SANGUE REDENTOR, SUPLICO MINHA CURA PROFUNDA E TOTAL
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <oracao-final></oracao-final>
</div>