<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Agradecimento a DEUS"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <mat-card class="verse-container">
        <div class="header">
            <h2>Em nome do Pai, Filho e Espirito Santo</h2>
        </div>

        <div class="content">
            <p>
                Senhor, meu Deus e meu Pai, eu Te agradeço por tudo o que tens feito em
                minha vida: pela alegria de viver, por minha família, pelos meus amigos, pelo ar
                que respiro, pelos dons que me deste, pelos relacionamentos que possibilitam
                que eu cresça a cada dia. Por tudo. Obrigado, Pai, pelas oportunidades que me
                tens dado de testemunhar o Amor com que amas a mim e a todas as pessoas.
                Obrigado, Pai, por teu perdão e por dar-me uma vida plena e abundante.
                Senhor, a Ti, que és o Criador de tudo o que sou e do que possuo, dedico a
                minha vida, clamando para que eu veja e faça sempre a Tua vontade, e que
                minhas obras honrem e glorifiquem o Teu Nome. Amém!
            </p>
        </div>
    </mat-card>

    <mat-accordion>
        <panel-salmo-91></panel-salmo-91>
        <panel-salmo-23></panel-salmo-23>
        <panel-salmo-07></panel-salmo-07>
    </mat-accordion>

    <mat-card class="verse-container mt-4">
        <div class="header">
            <h2>Prece de Cartas</h2>
        </div>

        <div class="content">
            <p>
                Deus, nosso Pai, que sois todo poder e bondade, daí forças aqueles que passam pela provação, daí luz
                àqueles que procuram a verdade, ponde no coração do homem a compaixão e a caridade! Deus! Dai ao viajor
                a estrela guia, ao aflito a consolação, ao doente o repouso. Pai! Daí ao culpado o arrependimento, ao
                espírito a verdade, à criança o guia, ao órfão o pai. Senhor! Que a vossa bondade se estenda sobre tudo
                que criastes. Piedade, Senhor, para aquelas que Vos não conhecem, esperança para aqueles que sofrem.
                Que a Vossa bondade permita aos espíritos consoladores derramarem por toda a parte a paz, a esperança e
                a fé! Deus! Um raio, uma centelha do Vosso amor pode iluminar a terra; deixai-nos beber nas fontes dessa
                bondade fecunda e infinita e todas as lágrimas secarão, todas as dores se acalmarão. Um só coração, um
                só pensamento subirá até Vós como um grito de reconhecimento e de amor. Como Moisés sobre a montanha,
                nós Vos esperamos com os braços abertos, Oh! Bondade, oh! Beleza, oh! Perfeição, e queremos de alguma
                sorte merecer a Vossa misericórdia. Deus, daí-nos força, ajudai o nosso progresso, a fim de subirmos até
                Vós; daí-nos a caridade pura, a humildade; daí-nos a fé e a razão, daí-nos a simplicidade, que fará de
                nossas almas o espelho onde se há de refletir a Vossa Divina Imagem!
            </p>
        </div>
    </mat-card>

    <div class="verse-footer">
        <p class="font-semibold text-red-500 uppercase mb-2">
            Obs: Fazer uma oração do seu coração em agradecimento a Deus.
        </p>
        <p>Livrai-nos senhor de todo mal, amem!</p>
    </div>
</div>