<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Nono Dia - A Perseverança"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <div fxLayout="column" fxLayoutGap="20px">
        <iframe class="video" height="350" src="https://www.youtube.com/embed/Gl8veSsQMDk" allowfullscreen></iframe>

        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        <mat-icon>menu_book</mat-icon>
                        <span>9° Dia</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        A Perseverança
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="verse-container">
                    <p>
                        "Estando trancadas as portas, Jesus pôs-Se no meio deles e disse: 'A Paz esteja convosco!'
                        Depois disse a Tomé: 'Introduz aqui o seu dedo, e vê as Minhas Mãos… Respondeu-Lhe Tomé: 'Meu
                        Senhor e meu Deus.'" (Jo 20, 26b-28).
                    </p>
                    <p>
                        Jesus, nas Tuas Mãos ressuscitadas e estendidas em minha direção, deposito a minha vida, e
                        concedo a Ti, meu Senhor e meu Deus, plena liberdade de dispores de mim segundo a Tua Santa
                        Vontade. Dá-me, apenas, a graça da fidelidade total até o último instante de minha vida e serei
                        eternamente grato a Ti. Amém.
                    </p>
                    <p>
                        Repita muitas vezes, neste 9º dia, a seguinte jaculatória:
                    </p>
                    <p>
                        JESUS, PELO PODER DO TEU SANGUE REDENTOR, SUPLICO A GRAÇA DE SER FIEL A TI ATÉ O FIM
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <oracao-final></oracao-final>
</div>