<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Sétimo Dia - A Cruz"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <div fxLayout="column" fxLayoutGap="20px">
        <iframe class="video" height="350" src="https://www.youtube.com/embed/-fKVgdMcKwk" allowfullscreen></iframe>

        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        <mat-icon>menu_book</mat-icon>
                        <span>7° Dia</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        A Cruz
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="verse-container">
                    <p>
                        "Chegados ao lugar chamado Calvário, ali O crucifi caram, como também os ladrões, um à direita e
                        outro à esquerda… Era quase à hora sexta e em toda a terra houve trevas até a hora nona.
                        Escureceu-se o sol e o véu do Templo rasgou-se ao meio. Jesus deu, então, um grande brado e
                        disse: 'Pai, nas Tuas Mãos, entrego o Meu espírito.'" (Lc 23, 44-46).
                    </p>
                    <p>
                        Jesus, hoje entendi porque abraçaste com tanto amor a Tua Cruz. É que através dela provavas Teu
                        amor eterno por mim e conquistavas, ao preço de Teu Preciosíssimo Sangue, a minha salvação. Com
                        a ajuda de Tuas Mãos chagadas, a partir de agora, quero abraçar também com amor a minha cruz,
                        pois entendi que só através dela poderei ser eternamente feliz Contigo. Amém.
                    </p>
                    <p>
                        Repita muitas vezes, neste 7º dia, a seguinte jaculatória:
                    </p>
                    <p>
                        JESUS, PELO PODER DO TEU SANGUE REDENTOR, SUPLICO A GRAÇA DE SUPORTAR MINHA CRUZ A CADA DIA
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <oracao-final></oracao-final>
</div>