<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Oração para abrir os caminhos"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <mat-card class="verse-container">
        <div class="header">
            <h2>Em nome do Pai, Filho e Espirito Santo</h2>
        </div>

        <div class="content">
            <p>
                Senhor, peço que abra meus caminhos no aqui e agora, para que todas as
                coisas boas venham até mim. Eu peço a abertura dos meus caminhos com
                dinheiro, para que nunca falte na minha vida ou na minha casa. Imploro que
                meus caminhos sejam abertos para ter sempre um emprego e prosperidade nesse
                emprego. Peço que abram meus caminhos para que a paz abunde em minha
                vida. Abra meus caminhos para a abundância e que nunca me falte alimento
                em minha vida. Senhor, que essas estradas abertas tragam sorte à minha vida
                para que tudo corra bem para mim. Abro meus caminhos em tranquilidade aqui
                e agora. Abra todos os meus caminhos para que eu possa alcançar meus sonhos e
                objetivos de vida. Deixe que a vontade do altíssimo seja feita.
                Guardiões dos fios que movem minha vida e o futuro do que está por vir. <br> Que
                os caminhos de <b>(o nome da pessoa)</b> sejam abertos e limpos para as
                benfeitorias do altíssimo se fazer presente em sua vida. Amém!
            </p>
        </div>
    </mat-card>

    <mat-accordion>
        <panel-salmo-91></panel-salmo-91>
        <panel-salmo-23></panel-salmo-23>
        <panel-salmo-07></panel-salmo-07>
        <panel-salmo-57></panel-salmo-57>
    </mat-accordion>

    <div class="verse-footer">
        <p>Livrai-nos senhor de todo mal, amem!</p>
    </div>
</div>