<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Terceiro Dia - O Perdão"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <div fxLayout="column" fxLayoutGap="20px">
        <iframe class="video" height="350" src="https://www.youtube.com/embed/3QiOirFogjc" allowfullscreen></iframe>

        <mat-accordion>
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title class="panel-title">
                        <mat-icon>menu_book</mat-icon>
                        <span>3° Dia</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        O Perdão
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="verse-container">
                    <p>
                        "Os escribas e os fariseus trouxeram-Lhe uma mulher que fora apanhada em adultério. Puseram-na
                        no meio da multidão e disseram a Jesus: 'Mestre, agora mesmo esta mulher foi apanhada em
                        adultério. Moisés mandou-nos na Lei que apedrejássemos tais mulheres. Que dizes Tu a isso?'
                        Jesus, porém, Se inclinou para frente e com a Mão escrevia na terra. Como eles insistissem,
                        ergueu-Se e disse: 'Quem de vós estiver sem pecado, seja o primeiro a lhe atirar uma pedra'…
                        Eles foram se retirando um a um, até o último… Jesus ficou sozinho, com a mulher diante d'Ele…
                        Perguntou-lhe: 'Ninguém te condenou?'. Respondeu ela: 'Ninguém, Senhor'. Disse-lhe, então,
                        Jesus: 'Nem Eu te condeno. Vai e não tornes a pecar." (Jo 8, 3-5.6b-9.10-11).
                    </p>
                    <p>
                        Jesus, como a pecadora deste Evangelho, preciso muitíssimo do Teu perdão. Com Tuas Mãos
                        benditas, toca agora e transforma meu coração – tão duro quanto as pedras das mãos dos fariseus
                        – num coração de carne, que saiba perdoar porque foi perdoado por Ti. Amém.
                    </p>
                    <p>
                        Repita muitas vezes, neste 3º dia, a seguinte jaculatória:
                    </p>
                    <p>
                        JESUS, PELO PODER DO TEU SANGUE REDENTOR,SUPLICO O TEU PERDÃO E A GRAÇA DE APRENDER A PERDOAR
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <oracao-final></oracao-final>
</div>