<div fxLayout="column" fxLayoutAlign="start">
    <page-header fxFlex icon="calendar_month" title="Oração pela proteção pessoal"></page-header>
    <btn-voltar></btn-voltar>
</div>

<div class="pt-6">
    <mat-card class="verse-container">
        <div class="header">
            <h2>Em nome do Pai, Filho e Espirito Santo</h2>
        </div>

        <div class="content">
            <p>
                Meu Deus, venha a meu auxílio quando eu me achar em sofrimento e me sustente se eu desfalecer. Que eu
                tenha sempre fé, esperança e caridade. Proteja senhor a minha casa, o meu emprego, a minha família e
                amigos, protege a minha entrada e saída de todo lugar que eu for e estiver. Peço, fazerdes que me torne
                digno de sua proteção. Amém!
            </p>
        </div>
    </mat-card>

    <mat-accordion>
        <panel-salmo-91></panel-salmo-91>
        <panel-salmo-23></panel-salmo-23>
        <panel-salmo-07></panel-salmo-07>
        <panel-salmo-121></panel-salmo-121>
    </mat-accordion>

    <div class="verse-footer">
        <p>Livrai-nos senhor de todo mal, amem!</p>
    </div>
</div>